img {
   width: 30%; 
   float: left;
   margin: 1.66%;
}
p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 1.66%;
   font-size: 30px;
   font-weight: 800;
   text-transform: uppercase;
   border-bottom: 3px solid black;
   width: 15%;
   padding: 20px;
}
body{
   background-color: greenyellow
}